* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155799;
  color: white;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

form select,
input,
button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
}

form input{
    background-color: transparent;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
}

.container {
  background-color: #0093af;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

#p-from,#p-to{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

#arrow{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}


#from-select,#to-select{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 2px;
    
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.select-container{
    display: flex;
    height:35px;
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.select-container img{
    max-width: 40px;
}

.select-container option{
    background-color: transparent;
    color: black;
    border: none;
}


.msg{
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#btn{
  width: 80%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #CDB380;
  color: white
  
}